body {
    background-color: #f4f2f1;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 12px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-left span {
    color: #ff5e24;
}

.recruit {
    margin-right: 25px;
    border-bottom: 1px solid;

}

#nav {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-header h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1px;
}

.nav-header p {
    font-size: 15px;
    font-weight: 300;
}

.nav-menu {
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #dedede;
}

.nav-item {
    padding: 12px 24px;
    cursor: pointer;
}

.nav-item.active {
    color: #ff5e24;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 60px;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
    row-gap: 2.5rem;
    column-gap: 3.75rem;
    max-width: 70rem;
    width: 100%;
    margin-inline: auto;
}

.project-item {
    background-color: #fff;
    /* border: 1px solid #dedede; */
    /* border-radius: 5px; */
    padding: 10px;
    text-align: center;
    padding-bottom: 15px;
}
/* 
.project-img {
    height: 180px;
    overflow: hidden;
} */

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.description {
    font-size: 14px;
    font-weight: 300;
    color: #b5b5b5;
    justify-self: start;
    margin: 0px 0;
}

#footer {
    font-size: 14px;
    margin-top: 60px;
    margin: 80px 40px 40px;
    color: #686868;
}

.footer-top {
    padding: 12px 20px;
}

.footer-menu {
    margin: 0;
}

.footer-divider {
    height: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 14px 20px;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-left p, .footer-right p {
    margin: 0;
}

.footer-right {
    align-items: flex-end;
}

.contact-info {
    display: flex;
    gap: 30px;
}