.calendar {
    width: 400px; 
    margin: 0 auto; 
    text-align: center; 
}
.header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.weekdays { 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    font-weight: bold; 
    margin-top: 15px; 
}
.days { 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    margin-top: 10px; 
}
.days div {
    padding: 15px 0; 
}
