html {
    display: flex;
}

body {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    width: 25vw;
    height: 98vh;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
}

#center {
    display: flex;
    width: 50vw;
    height: 98vh;
    border: 1px solid red;
    flex-direction: column;
}

#right {
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 98vh;
    border: 1px solid blue;
}

img {
    border: 1px solid pink;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
}

.left-top {
    display: flex;
    flex-direction: column;

}

.left-center {
    display: flex;
    flex-direction: column;
}

.left-bottom {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.left-img {
    display: flex;
    border: 1px solid pink;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem 0.8rem; 
}

#right-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-center {
    display: flex;
    justify-content: space-between;
}

.txt{
    color: blue;
    padding-left: 10rem;
}

.follow {
    color: gray;
}

.right-bottom-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-bottom-detail-ex {
    display: flex;
    flex-direction: column;
}

#center-top {
    display: flex;
    flex-direction: row;
}

.center-top-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}