body {
    margin: 0;
    background-color : ivory;
}

header {
    height: 58px;
    border-bottom: 1px solid #ddd;
}

nav {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 56px;
}